* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header, nav, ul, li, a {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main {
  display: flex;
}
header {
    background-image: url("imagens/fundo-dados-azul.jpg");
    background-position: 50% 39%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav {
    width: max-content;

    text-align:right
}

img{
  height: 45px;
}