* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header, nav, ul, li, a {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    background-image: url("imagens/fundo-dados-azul.jpg");
    background-position: 50% 39%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    max-width: 600px;
    display: flex; 
    justify-content: flex-end; 
}